.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section > h2 {
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}