.landing__2 .mask {
    width: 100%;
    padding-top: 90px;
    height: 70vh;
    position: relative;
}

.landing__2 .mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-bg-transparent);
}

.landing-bg {
    width: 100%;
    height: 100%;
    background: cover;
    background-position: center;
    object-fit: cover;
}

.landing__2 {
    height: 100%;
    width: 100%;
}

.landing__2 .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40vh;
    left: 50%;
    text-align: center;
    width: 100%;
}

.landing__2 .content > h1 {
    font-size: 75px;
    padding: 0.3rem 0;
    color: var(--color-primary);
}

.landing__2 .content > p {
    font-size: 30px;
    font-weight: 600;
}

.content .btn {
    margin: 1rem 0.2rem;
}

@media screen and (max-width: 640px) {
    
    .landing__2 .mask {
        height: 40vh;
    }

    .landing__2 .content {
        top: 25vh;
    }

    .landing__2 .content > h1 {
        font-size: 2.4rem;
        line-height: 4rem;
    }

    .landing__2 .content > p {
        font-size: 1.1rem;
    }
}